body{
    background-color:gainsboro ;
}
form{
padding-left: 20%;
padding-right: 20%;
padding-bottom: 10px;
}
#on {
    color: aliceblue;
    font-size: 40px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(25, 158, 21);
    border-radius: 15px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
#on:hover{
    background: rgb(91, 255, 15);
    color: rgb(22, 20, 20);
}
#off {
    color: aliceblue;
    font-size: 40px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(60, 60, 60);
    border-radius: 15px;
    width: 100%;        
    text-align: center;
    cursor: pointer;
}

#off:hover{
    background: rgb(117, 82, 82);
    color: rgb(37, 255, 74);
}

li  h1{
    color: bisque;
}
span {
    color: rgb(199, 138, 63);
}
